@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f8fafc;
	color: #0f172a;
	overflow-x: hidden;
}

/* Hide scrollbar for horizontal scroll containers */
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}